<p>access-control-panel works!</p>
<div class="fluid-container">
    <div class="section-header">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <span><i class="fa fa-home" aria-hidden="true"></i></span>
          Home/User Administration/Update User
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="pull-right">
            <span><i class="fa fa-solid fa-arrow-right-to-bracket"></i></span>
            <i class="fas fas-solid fas-arrow-right-from-bracket"></i>
            <span>Last Login: 03/02/2018 16:22:08 Logout</span>
            <span><i class="fa fa-solid fa-power-off"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="card rounded-0">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <i class="fa fa-address-book"></i>
            Update User
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="pull-right">
              <i class="fa fa-chevron-up m-r-5"></i>
              <i class="fa fa-compress m-r-5"></i>
              <i class="fa fa-close m-r-5"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body m-20">
        <!-- Progress Section -->
        <div class="row custom-progress-bar">
          <div class="col-md-2">
            <div class="custom-nav text-center">
              <div>
                <i class="fa fa-arrow-left"></i>
              </div>
              <p>Previous</p>
            </div>
          </div>
          <div class="col-md-8 text-center">
            <ul class="testStatus">
              <li class="testStatus first general-status">
                <span>
                  <i class="fa fa-user"></i>
                </span>
                <p class="mb-0">General</p>
              </li>
              <li class="testStatusGood inactive ">
                <span>
                  <i class="fa fa-lock"></i>
                </span>
                <p class="mb-0">Permission</p>
              </li>
              <li class="testStatus inactive third ">
                <span>
                  <i class="fa fa-universal-access"></i>
                </span>
                <p class="mb-0">Access Control</p>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <div class="custom-nav text-center pull-right">
              <div>
                <i class="fa fa-arrow-right"></i>
              </div>
              <p>Next</p>
            </div>
          </div>
        </div>
        <section class="row form-section">
          <form>
            <div class="row m-b-15">
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="userRole" class="col-sm-3 col-form-label"
                    >USER ROLE:</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      id="userRole"
                      placeholder="Read Only Acess Role"
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group row">
                  <label for="user id" class="col-sm-3 col-form-label"
                    >USER ID:</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      id="user id"
                      placeholder="View Role"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row heading-container">
              <div class="col-md-6">
                <span>CoreCREDIT</span>
              </div>
              <div class="col-md-6">
                <div class="pull-right">
                  <span><i class="fa fa-minus" aria-hidden="true"></i></span>
                </div>
              </div>
            </div>

            <div class="row icons">
              <div class="col-md-6">
                <span><i class="fa fa-minus-square-o"></i></span>
                <span
                  ><i
                    class="fa fa-folder-open o"
                    id="folder"
                    aria-hidden="true"
                  ></i
                ></span>
                <span>All</span>
              </div>
              
              <div class="col-md-6 col-sm-6">
                <div class="pull-right">
                  <span
                    ><i
                      class="fa fa-folder-open o"
                      id="folder"
                      aria-hidden="true"
                    ></i
                  ></span>

                  <i class="fa fa-expand"></i>
                </div>
              </div>
            
            </div>
            <div class="folder-container">
              <div class="row">
                <div class="col-md-12">
                  <span><i class="fa fa-caret-right"></i></span>
                  <span><i class="fa fa-minus-square-o"></i></span>
                  <span
                    ><i
                      class="fa fa-folder-open o"
                      id="folder"
                      aria-hidden="true"
                    ></i
                  ></span>
                  <span>Account Management</span>
                </div>
                <div class="col-md-12">
                  <span><i class="fa fa-caret-right"></i></span>
                  <span><i class="fa fa-minus-square-o"></i></span>
                  <span
                    ><i
                      class="fa fa-folder-open o"
                      id="folder"
                      aria-hidden="true"
                    ></i
                  ></span>
                  <span>Administration</span>
                </div>
                <div class="col-md-12">
                  <span><i class="fa fa-caret-right"></i></span>
                  <span><i class="fa fa-check-square-o"></i></span>
                  <span
                    ><i
                      class="fa fa-folder-open o"
                      id="folder"
                      aria-hidden="true"
                    ></i
                  ></span>
                  <span>Program Parameters</span>
                </div>
                <div class="col-md-12">
                  <span><i class="fa fa-caret-right"></i></span>
                  <span><i class="fa fa-minus-square-o"></i></span>
                  <span
                    ><i
                      class="fa fa-folder-open o"
                      id="folder"
                      aria-hidden="true"
                    ></i
                  ></span>
                  <span>Reports</span>
                </div>
                <div class="col-md-12">
                  <span><i class="fa fa-caret-right"></i></span>
                  <span><i class="fa fa-square-o"></i></span>
                  <span
                    ><i
                      class="fa fa-folder-open o"
                      id="folder"
                      aria-hidden="true"
                    ></i
                  ></span>
                  <span>Transations</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
            <div class="blue-button text-center pull-right">
              <span>Back</span>
            </div>
            <div class="blue-button text-center pull-right submit">
              <span>Submit</span>
            </div>
            </div>
            </div>
            <div class="row">
              <div class="col-md-12">
           <div class="blue-button text-center pull-right Reset Security Answer">
            <span>Reset Security Answer</span>
           </div>
           <div class="blue-button text-center pull-right Reset Security Question">
            <span>Reset Security Question</span>
           </div>
           <div class="blue-button text-center pull-right" id="btn">
            <span>Reset Password</span>
           </div>
           </div>
           </div>
           
         </form>
        </section>

    <!-- Form Footer -->

      <div class="row custom-progress-bar footer">
        <div class="col-md-2">
          <div class="custom-nav text-center">
            <div>
              <i class="fa fa-arrow-left	"></i>
            </div>
            <p>Previous</p>
          </div>
        </div>
        <div class="offset-md-8 col-md-2">
          <div class="custom-nav text-center pull-right">
            <div>
              <i class="fa fa-arrow-right"></i>
            </div>
            <p>Next</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>