// body {
//     background: #fff;
//     font-family: "Poppins", sans-serif;
//     overflow-x: hidden;
//     color: #67757c;
//     font-weight: 300;
    
// }

.section-header {
    padding: 10px 15px;
    background-color: #eef7ff;
    font-weight: 500;
    font-size: 14px;
}

.userHead{
    background-color:#f8f4f4;
    
}
.full-box{
    border: 1px ridge;
    margin-left: 30px;
}
.box-control{
    border: 1px ridge;
    margin-top: 2PX 2PX 2PX 2PX;
}

.list-item{
    border: none;
}

#demo{
    border: none;
    height: 50px;
    width: 500px;
    border-radius: 5px;
    background-color: #eef7ff;
    margin: 20px 50px 20px 50px;
    font-size: larger;

}







/* .realContent{
    margin:2px 0px auto 20px;
    background-color: white;
    
}
.list-item{
    display: inline;
    background-color:#eef7ff;
    border: none;
    margin: 20px 0px 20px 0px ;
    padding: 10px 10px 10px 10px;
    justify-content: inline;
    size: 0cap;
    border-radius: 10px;
}
button{
    border: none;
} */
