
<section>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">User anagement</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
        
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
</section>

<section class="login-box">
    
    <form name="myForm"  class="box-module">
        <div class="core-logo">
            <img src="../../../assets/logo/corecardlogo.jfif" style="width: 200px;" alt=""> 
        </div>
        <div class="login-control-box">
            <div class="heading">
                <h1>Login</h1>
            </div>
        </div>
        <div class="login-control-box">
            <div>
                <label class="label-tag" >Email</label>
            </div>
            <div>
                <input type="email" id="email"  class="input-ctrl" name="email">
            </div>
        </div>
       
        <div class="login-control-box">
            <div>
                <label class="label-tag" id="fName">Password</label>
            </div>
            <div>
                <input type="password" id="userPassword" class="input-ctrl" name="firstName">
            </div>
        </div>
        <div class="login-control-box">
            <div class="submit-button-ctrl">
                <button type="submit" class="submit-button"  value="Submit">Submit</button>
            </div>  
        </div>
    </form>
</section>