.box-module{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 48%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 284px;
    padding: 100px 60px;
    border-radius: 20px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.2);
    background-color: #fff;

}
.core-logo{
   
}